# This kustomization file allows you to deploy all resources at once
# Usage: kubectl apply -k k8s/

apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: biz-intelli

resources:
  - namespace.yaml
  - secret.yaml
  - configmap.yaml
  - pvc.yaml
  - deployment.yaml
  - service.yaml

commonLabels:
  app: biz-intelli
  managed-by: kustomize
