[Desktop Entry]
Version=1.0
Type=Application
Name=Uninstall Web Search
Comment=Remove the Web Search application
Exec="/home/robert-marshall01/Desktop/Java Search/uninstall.sh"
Icon=edit-delete
Terminal=false
Categories=System;
Keywords=uninstall;remove;websearch;
StartupNotify=true
