[Desktop Entry]
Version=1.0
Type=Application
Name=Web Search
Comment=Search the World Wide Web with Google, DuckDuckGo, Bing, and more
Exec="/home/robert-marshall01/Desktop/Java Search/run-gui.sh"
Icon=/home/robert-marshall01/Desktop/Java Search/icon.svg
Terminal=false
Categories=Network;WebBrowser;Java;
Keywords=search;web;browser;google;bing;duckduckgo;
StartupNotify=true
StartupWMClass=searchengine-WebSearchGUI
