<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
           http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">

    <description>Grey Legacy - Service Layer Configuration</description>

    <!-- ==================== Service Beans ==================== -->

    <bean id="claimService" class="com.greylegacy.service.impl.ClaimServiceImpl">
        <property name="claimDao" ref="claimDao" />
        <property name="policyDao" ref="policyDao" />
        <property name="adjusterDao" ref="adjusterDao" />
        <property name="claimPaymentDao" ref="claimPaymentDao" />
        <property name="claimAuditDao" ref="claimAuditDao" />
        <property name="claimSnapshotDao" ref="claimSnapshotDao" />
    </bean>

    <bean id="underwritingService" class="com.greylegacy.service.impl.UnderwritingServiceImpl">
        <property name="policyDao" ref="policyDao" />
        <property name="claimDao" ref="claimDao" />
    </bean>

</beans>
